<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/box-32.png') }}"></img>&nbsp;Classification des ressources</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Les ressources sont class&eacute;es par type:</p>
<ul>
<li>Lieux</li>
<li>V&eacute;hicules</li>
<li>Outils</li>
<li>Equipements sportifs</li>
<li>Utilisateurs</li>
</ul>
<p>Parmi chacun de ces types, Slam-Booking propose les classifications les plus courantes: salles, appartement pour des ressources de type lieu, voiture, camion, pour des ressources de type v&eacute;hicule&hellip;</p>
<p>Cette page permet d&apos;activer les classifications g&eacute;r&eacute;es dans le dossier et d&eacute;sactiver celles qui ne le sont pas.</p>
<p>Il est possible &eacute;galement de cr&eacute;er ses propres classifications lorsque celles propos&eacute;es ne suffisent pas</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-CLASSIFICATION-001-Activer-desactiver.png') }}"></img>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/box-32.png') }}"></img>&nbsp;Les classifications de type utilisateur</h4>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-CLASSIFICATION-002-Utilisateurs.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Dans Slam-Booking, un utilisateur peut &ecirc;tre positionn&eacute; comme ressource.</p>
<p>Prenons un exemple: Un club de tennis souhaite g&eacute;rer le planning de ses courts mais &eacute;galement le planning des professeurs qui y travaillent.</p>
<p>Dans le dossier correspondant, on aura des ressources dont la classification est &laquo;court&raquo; et donc de type &laquo;&eacute;quipement sportif&raquo;.</p>
<p>Les professeurs seront des utilsateurs qui seront positionn&eacute;s comme ressource de classification &laquo;formateur&raquo;.</p>
<p>On pourra ainsi g&eacute;rer le planning des courts et &eacute;galement le planning des professeurs du club</p>
</div>
