Les &eacute;tiquettes permettent de pr&eacute;ciser l&apos;utilisation des r&eacute;servations

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/label-32.png') }}"></img>&nbsp;Cr&eacute;ation d&apos;une &eacute;tiquette</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-LABEL-001-Ajouter-etiquette.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Saisir un nom</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-LABEL-002-Ajouter-etiquette-nom.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;L&apos;&eacute;tiquette apparait dans la liste</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-LABEL-003-Liste-etiquettes.png') }}"></img>
</div>
