{# templates/emails/login.and.password.sent.html.twig #}

<h3><span class="glyphicon glyphicon-log-in">{{ 'user.login.and.password.sent.email.title'|trans }}</h3>

<p>{{ 'user.login.and.password'|trans({'%name%': user.userName, '%password%': password}) }}&nbsp;<a href="{{ url('user_login') }}"></p>
