body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url(../images/welcome.jpg);
  min-height: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
