{# templates/label/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'label_add', 'label', true %}

{% block link %}
	<a href="{{ path('label_edit', { 'labelID': listLabels[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/label-32.png') }}">&nbsp;{{ listLabels[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endblock %}
