{# templates/query_booking/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'query_booking_add', 'query_booking', true %}

{% block link %}
	<a href="{{ path('query_booking_edit', { 'queryBookingID': listQueryBooking[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/dashboard-32.png') }}">&nbsp;{{ listQueryBooking[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endblock %}
